html {
    height: 100%;
}
body {
    height: 100%;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    height: 100%;
}

/* 面包屑样式 */
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}
/* 卡片区域
!important 用于提高样式级别
 */
.el-card{
    box-shadow: 0 1px 1px rgba(0, 8, 10, 0.15) !important;
}

/* 表格样式 */
.el-table {
    margin-top: 15px;
    font-size: 12px;
}

